# Server Configuration
PORT=6589
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_TOKEN=ca978112ca1bbdcafac231b39a23dc4da786eff8147c4e72b9807785afee48bb

# Google Maps API Key
GOOGLE_MAPS_API_KEY=

# Supabase Credentials
SUPABASE_URL=
SUPABASE_KEY=
